@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    background: url('../images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 12pt;
}

.img-slide{
    height: 200px;
    width: 80%;
}

@media screen and (min-width: 600px) {
    .img-slide{
        height: 300px;
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .img-slide{
        height: 350px;
        width: 80%;
    }
}